@font-face{
	font-family:'bold_font';
	src:url('assets/fonts/boldfont.ttf');
	
}
@font-face{
	font-family:'logo_font';
	src:url('assets/fonts/SpecifyPERSONAL-ConBold.ttf');
}

@font-face{
	font-family:'logo_font1';
	src:url("assets/fonts/Aileron-Light.otf");
}

@font-face{
	font-family:'para_font';
	src:url('assets/fonts/Aileron-Light.otf');
}

@font-face{
	font-family:'fav_font';
	src:url('assets/fonts/one.ttf');
}
@font-face{
	font-family:'good_font';
	src:url('assets/fonts/RobotoCondensed-Light.ttf');
	
}
@font-face{
	font-family:'lato_font';
	src:url('assets/fonts/Lato-Semibold.ttf');
	
}
@font-face{
	font-family:'latobold_font';
	src:url('assets/fonts/Lato-Bold.ttf');
	
}
br{
	display:none;
}
input{
	color:#fff!important;
}

.container-fluid {
overflow-x: hidden !important;
padding-right: 5px!important;
padding-left:5px!important;
margin-right: auto !important;
margin-left: auto !important;
}
span{
	display: inline-block;
	color:#fff!important;
	font-size:15px;
	margin:0 0 22px 0!important;
}
input::placeholder{
	color:#fff!important;

	font-size:14px;
}
.yes_box_1{
	width:92px;
	background:#787878;
	border:none;
	height:36px;
	
	margin:0 10px 0 35px;
	border:none;
}
.yes_box_1:hover{
	background:#787878;
}
.yes_box{
	width:92px;
	background:#787878;
	border:none;
	height:36px;
	
	margin:0 10px 0 20px;
	border:none;
}
.yes_box:hover{
	background:#787878;
}
.no_box{
	background:#787878;
	width:60px;
	height:36px;
	
	margin:0 10px 0 0;
	border:none;
}
.no_box:hover{
	background:#787878;
}
.month_box{
	width:92px;
	background:#787878;
	border:none;
	height:39px;
	float:right;
	margin:0 10px 0 0;
	border:none;
}
.month_box:hover{
	background:#787878;
}
.date_box{
	background:#787878;
	width:60px;
	height:39px;
	float:right;
	margin:0 10px 0 0;
	border:none;
}
.date_box:hover{
	background:#787878;
}

.logo_style{
	width:300px;
	margin:0 auto;
	padding:0 0 20px 0;
}
.dark_grey{
	background:#141414;
	
}
/*===============dear head===============*/
.dear_head{
	font-size:55px;
	color:#fff;
	font-family:'logo_font1';
}
.dear_para{
	font-size:20px;
	color:#fff;

	font-family:'logo_font1';
}
/*==============banner part=============*/
.banner_part{
	background:url('img/banner.jpg');
	padding:31px 31px 100px 31px;
}
.come_head{
	margin:60px 0 0 0;
	font-size:35px;
	color:#fff;
	font-family:'logo_font1';
}
.come_para{
	font-size:28px;
	color:#fff;
	font-family:'logo_font1';
	margin:5px 0 50px 0;
}
.circle_border{
	
	margin:10px auto;
	width:100px;
	height:100px;
	border-radius:50%;
	border:3px solid #fff;

}
.join_para{
	font-size:18px;
	color:#fff;
	margin:5px 0 50px 0;
}
.join_icon{
	margin:20px auto;
}
/*================aboyt part================*/
.about_background{
	background:#e5e4e4;
}
.about_background_2{
	background:#e5e4e4;
	height:200px;
}
.about_head{
	font-size:55px;
	color:#076280;
	margin:50px 0 10px 0;
	font-family:'logo_font1';
}
.about_para{
	font-size:17px;
	color:#1d1d1d;
	margin:5px 0 20px 0;
	font-family:'lato_font';
}
.about_part{
	padding:0 70px 0 70px;
}
.toluna_group_text{
	font-size:16px;
	color:#0a99c8;
	margin:5px 0 20px 0;
	font-family:'lato_font';
}
/*=================form part============*/
.orange_box{
	background:#f28301;
	width:100%;
	height:50px;
}
.black_background{
	background:#32495F;
}
.form_head{
	font-size:36px;
	color:#fff;
	font-family:'latobold_font';
}
.my_form{
	background:none;
	border:2px solid #fff;
	border-radius:0;
	height:43px;
	margin:10px 0 0 0;
}
.input_box{
	width:205px;
	height:43px;
	display:inline !important;
	
}
select {
    color: #fff!important;
}
option:not(:first-of-type) {
    color: black!important;
}
.join_btn{
	width:70%;
	height:50px;
	background:#168cb3;
	border:0;
	border-radius:0;
	font-size:20px;
	margin:30px 0 47px 0;
	
	
}
.right_icon{
	float:left;
	font-size:35px;
	padding:0 20px 20px 0;
	color:#168cb3;
}
.bullet_para{
	color:#1d1d1d;
	font-size:17px;
	font-weight:bold;
	padding:0 30px 19px 0;
}
.bullet_part{
	padding:110px 0 0 0;
	background:#fff;
}
/*=================about happidoc================*/
.happidoc_head{
	font-size:55px;
	color:#076280;
	margin:50px 0 10px 0;
	font-family:'logo_font1';
}
.happidoc_para{
	color:#1d1d1d;
	font-size:19px;
	padding:0 0 20px 0;
}
.footer_part{
	background:#1c1c1c;
	height:50px;
	width:100%;
}
.footer_para{
	color:#fff;
	font-size:14px;
	padding:20px 0 0 0;
}
.footer_icon{
	float:left;
	margin:10px 5px 0 0;
	width:25px;
}

.join_btn_1{
	width:100%;
	height:40px;
	background:#168cb3;
	border:0;
	border-radius:0;
	font-size:20px;
	margin:2px 0 6px 0;
}





















/*======================media query mobile=================*/
@media screen and (min-width:100px) and (max-width:480px){
	/*===========logo part================*/
	br{
	
}
span{
	display: inline-block;
	color:#fff!important;
	font-size:15px;
	margin:0 0 22px 0!important;
}
input::placeholder{
	color:#fff!important;

	font-size:13px;
}
.yes_box_1{
	width:92px;
	background:#787878;
	border:none;
	height:36px;
	
	margin:0 10px 0 35px;
	border:none;
}
.yes_box_1:hover{
	background:#787878;
}
.yes_box{
	width:92px;
	background:#787878;
	border:none;
	height:36px;
	
	margin:0 10px 0 20px;
	border:none;
}
.yes_box:hover{
	background:#787878;
}
.no_box{
	background:#787878;
	width:60px;
	height:36px;
	
	margin:0 10px 0 0;
	border:none;
}
.no_box:hover{
	background:#787878;
}
.month_box{
	width:60px;
	background:#787878;
	border:none;
	height:35px;
	float:right;
	margin:0 10px 0 0;
	border:none;
}
.month_box:hover{
	background:#787878;
}
.date_box{
	background:#787878;
	width:50px;
	height:35px;
	float:right;
	margin:0 10px 0 0;
	border:none;
}
.date_box:hover{
	background:#787878;
}

.logo_style{
	width:220px;
	margin:0 auto;
	padding:0 0 10px 20px;
}
.divPosition {display:flex;flex-flow:column;}
	.one{order :2;}
	.two{order :1;}
	
	
	
	
	 body {
       overflow-x: hidden !important;
    }
    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
	br{
		display:block;
	}
	/*===============dear head===============*/
	
.dear_head{
	font-size:20px;
	color:#fff;
	font-family:'logo_font1';
}
.dear_para{
	font-size:14px;
	color:#fff;

	font-family:'arial';
}
/*==============banner part=============*/
.banner_part{
	background:url('img/banner.jpg');
	padding:31px 31px 20px 31px;
	
}
.come_head{
	font-size:23px;
	margin:0 0 0 0;
	color:#fff;
	font-family:'logo_font1';
}
.come_para{
	font-size:20px;
	color:#fff;
	font-family:'logo_font1';
	margin:5px 0 10px 0;
}
.circle_border{
	
	margin:0 auto;
	width:85px;
	height:85px;
	border-radius:50%;
	border:3px solid #fff;

}
.join_para{
	font-size:14px;
	color:#fff;
	margin:5px 0 20px 0;
}
.join_icon{
	margin:20px auto;
	width:50px;
}
/*================aboyt part================*/
.about_head{
	font-size:25px;
	color:#076280;
	padding:20px 0 0 0;
	margin:0 0 5px 0;
	font-family:'logo_font1';
}
.about_para{
	font-size:14px;
	color:#1d1d1d;
	margin:5px 0 0 0;
	font-family:'lato_font';
}
.about_part{
	padding:0 10px 10px 10px;
}
.about_background_2{
	
}

/*=================form part============*/
.orange_box{
	background:#f28301;
	width:100%;
	height:40px;
}
.012B40{
	background:#black_background;
}
.form_head{
	font-size:26px;
	color:#fff;
	font-family:'latobold_font';
}
.my_form{
	background:none;
	border:1px solid #fff;
	border-radius:0;
	height:40px;
	margin:10px 0 0 0;
}
.input_box{
	width:166px;
	display:inline !important;
	
}
select {
    color: #c4c4c4!important;
}
option:not(:first-of-type) {
    color: black!important;
}
.join_btn{
	width:70%;
	height:40px;
	background:#168cb3;
	border:0;
	border-radius:0;
	font-size:18px;
	margin:0 0 18px 0;
	
}
.right_icon{
	float:left;
	font-size:25px;
	padding:0 10px 0 0!important;
	color:#168cb3;
}
.bullet_para{
	color:#1d1d1d;
	font-size:15px;
	padding:0 0 0 10px;
	font-weight:bold;
}
.bullet_part{
	padding:10px 0 0 0;
	background:#fff;
}
.toluna_group_text a{
	font-size:16px;
	color:#0a99c8;
	padding:5px 0 20px 0;
	font-family:'lato_font';	
}
/*=================about happidoc================*/
.happidoc_head{
	font-size:25px;
	color:#076280;
	margin:20px 0 10px 0;
	font-family:'logo_font1';
}
.happidoc_para{
	color:#1d1d1d;
	font-size:14px;
	padding:0 0 20px 0;
}
.join_btn_1{
	width:100%;
	height:70px;
	background:#168cb3;
	border:0;
	border-radius:0;
	font-size:20px;
	margin:0 0 18px 0;
}
.about_background_2{
	background:#e5e4e4;
	height:0;
}
.footer_part{
	background:#1c1c1c;
	height:100px;
	width:100%;
}
.footer_para{
	color:#fff;
	font-size:14px;
	padding:20px 0 0 0;
}
.footer_icon{
	float:left;
	margin:10px 5px 20px 0;
	width:25px;
}
	}
/*================media query 640px =====================*/
@media screen and (min-width:481px) and (max-width:767px){






}
/*============================== media query ipad====================*/
@media screen and (min-width:768px) and (max-width:992px){
	br{
	display:block;
}

.logo_style{
	width:300px;
	margin:0 auto;
	padding:0 0 20px 0;
}
.dark_grey{
	background:#141414;
	
}
/*===============dear head===============*/
.dear_head{
	font-size:40px;
	color:#fff;
	font-family:'logo_font1';
}
.dear_para{
	font-size:20px;
	color:#fff;

	font-family:'logo_font1';
}
/*==============banner part=============*/
.banner_part{
	background:url('img/banner.jpg');
	padding:12px;
}
.come_head{
	margin:20px 0 0 0;
	font-size:35px;
	color:#fff;
	font-family:'logo_font1';
}
.come_para{
	font-size:28px;
	color:#fff;
	font-family:'logo_font1';
	margin:5px 0 50px 0;
}
.circle_border{
	
	margin:10px auto;
	width:100px;
	height:100px;
	border-radius:50%;
	border:3px solid #fff;

}
.join_para{
	font-size:18px;
	color:#fff;
	margin:5px 0 50px 0;
}
.join_icon{
	margin:20px auto;
}
/*================aboyt part================*/
.about_background{
	background:#e5e4e4;
}
.about_background_2{
	background:#e5e4e4;
	height:200px;
}
.about_head{
	font-size:55px;
	color:#076280;
	margin:10px 0 10px 0;
	font-family:'logo_font1';
}
.about_para{
	font-size:17px;
	color:#1d1d1d;
	margin:5px 0 20px 0;
	font-family:'lato_font';
}
.about_part{
	padding:0 70px 0 70px;
}
.toluna_group_text{
	font-size:16px;
	color:#0a99c8;
	margin:5px 0 20px 0;
	font-family:'lato_font';
}
/*=================form part============*/
.orange_box{
	background:#f28301;
	width:100%;
	height:40px;
}
.black_background{
	background:#012B40;

}
.form_head{
	font-size:28px;
	color:#fff;
	font-family:'latobold_font';
}
.my_form{
	background:none;
	border:2px solid #fff;
	border-radius:0;
	height:37px;
	margin:10px 0 0 0;
}
.input_box{
	width:100%;

	display:inline !important;
	
}
select {
    color: #c4c4c4!important;
}
option:not(:first-of-type) {
    color: black!important;
}
.join_btn{
	width:90%!important;
	height:50px;
	background:#168cb3;
	border:0;
	border-radius:0;
	font-size:20px;
	margin:0 0 16px 0;
	
	
}
.right_icon{
	float:left;
	font-size:35px;
	padding:0 20px 20px 0;
	color:#168cb3;
}
.bullet_para{
	color:#1d1d1d;
	font-size:19px;
	padding:0 0 20px 0;
	font-weight:bold;
}
.bullet_part{
	padding:85px 0 0 0;
	background:#fff;
}
/*=================about happidoc================*/
.happidoc_head{
	font-size:55px;
	color:#076280;
	margin:50px 0 10px 0;
	font-family:'logo_font1';
}
.happidoc_para{
	color:#1d1d1d;
	font-size:19px;
	padding:0 0 20px 0;
}
.footer_part{
	background:#1c1c1c;
	height:50px;
	width:100%;
}
.footer_para{
	color:#fff;
	font-size:14px;
	padding:20px 0 0 0;
}
.footer_icon{
	float:left;
	margin:10px 5px 0 0;
	width:25px;
}

.join_btn_1{
	width:100%;
	height:65px;
	background:#168cb3;
	border:0;
	border-radius:0;
	font-size:20px;
	margin:0 0 28px 0;
}

}
/*==================media query ipad pro=============*/
@media screen and (min-width:993px) and (max-width:1200px){
		br{
	display:block;
}

.logo_style{
	width:300px;
	margin:0 auto;
	padding:0 0 20px 0;
}
.dark_grey{
	background:#141414;
	
}
/*===============dear head===============*/
.dear_head{
	font-size:40px;
	color:#fff;
	font-family:'logo_font1';
}
.dear_para{
	font-size:20px;
	color:#fff;

	font-family:'logo_font1';
}
/*==============banner part=============*/
.banner_part{
	background:url('img/banner.jpg');
	padding:12px 12px 70px 12px;
}
.come_head{
	margin:20px 0 0 0;
	font-size:35px;
	color:#fff;
	font-family:'logo_font1';
}
.come_para{
	font-size:28px;
	color:#fff;
	font-family:'logo_font1';
	margin:5px 0 50px 0;
}
.circle_border{
	
	margin:10px auto;
	width:100px;
	height:100px;
	border-radius:50%;
	border:3px solid #fff;

}
.join_para{
	font-size:18px;
	color:#fff;
	margin:5px 0 50px 0;
}
.join_icon{
	margin:20px auto;
}
/*================aboyt part================*/
.about_background{
	background:#e5e4e4;
}
.about_background_2{
	background:#e5e4e4;
	height:200px;
}
.about_head{
	font-size:55px;
	color:#076280;
	margin:50px 0 10px 0;
	font-family:'logo_font1';
}
.about_para{
	font-size:20px;
	color:#1d1d1d;
	margin:5px 0 20px 0;
	font-family:'lato_font';
}
.about_part{
	padding:0 70px 0 70px;
}
.toluna_group_text{
	font-size:16px;
	color:#0a99c8;
	margin:5px 0 20px 0;
	font-family:'lato_font';
}
/*=================form part============*/
.orange_box{
	background:#f28301;
	width:100%;
	height:60px;
}
.black_background{
	background:#black_background;
}
.form_head{
	font-size:36px;
	color:#fff;
	font-family:'latobold_font';
}
.my_form{
	background:none;
	border:2px solid #fff;
	border-radius:0;
	height:43px;
	margin:10px 0 0 0;
}
.input_box{
	width:100%;

	display:inline !important;
	
}
select {
    color: #c4c4c4!important;
}
option:not(:first-of-type) {
    color: black!important;
}
.join_btn{
	width:90%!important;
	height:50px;
	background:#168cb3;
	border:0;
	border-radius:0;
	font-size:20px;
	margin:0 0 16px 0;
	
	
}
.right_icon{
	float:left;
	font-size:35px;
	padding:0 20px 20px 0;
	color:#168cb3;
}
.bullet_para{
	color:#1d1d1d;
	font-size:19px;
	padding:0 0 20px 0;
	font-weight:bold;
}
.bullet_part{
	padding:110px 0 0 0;
	background:#fff;
}
/*=================about happidoc================*/
.happidoc_head{
	font-size:55px;
	color:#076280;
	margin:50px 0 10px 0;
	font-family:'logo_font1';
}
.happidoc_para{
	color:#1d1d1d;
	font-size:19px;
	padding:0 0 20px 0;
}
.footer_part{
	background:#1c1c1c;
	height:50px;
	width:100%;
}
.footer_para{
	color:#fff;
	font-size:14px;
	padding:20px 0 0 0;
}
.footer_icon{
	float:left;
	margin:10px 5px 0 0;
	width:25px;
}

.join_btn_1{
	width:100%;
	height:65px;
	background:#168cb3;
	border:0;
	border-radius:0;
	font-size:20px;
	margin:0 0 26px 0;
}

}